{% extends 'base.html' %}

{% block title %}Аналитика{% endblock %}

{% block content %}
<h1 class="welcome-title">Аналитика</h1>
<hr style="margin-bottom: 20px;">

{% if error %}
<p style="color: red;">{{ error }}</p>
{% else %}
    {% if avg_age %}
    <p>Средний возраст по фото: {{ avg_age }}</p>
    {% endif %}
    <p>Реальный возраст: {{ user_age }}</p>
<div style="display: flex; flex-direction: column; align-items: center; gap: 30px;">



    <div style="text-align: center;">
        <h3>Возраст</h3>
        <img class="chart-image" src="data:image/png;base64,{{ graphic1 }}" alt="Анализ возраста">
    </div>
    <div style="text-align: center;">
        <h3>Эмоции</h3>
        <img class="chart-image" src="data:image/png;base64,{{ graphic3 }}" alt="Анализ эмоций">
    </div>
</div>
{% endif %}

<!-- Модальное окно -->
<div id="imageModal" class="modal" onclick="hideImageModal()">
    <span class="close" onclick="hideImageModal(event)">&times;</span>
    <img class="modal-fullscreen" id="modalImage" style="max-width: 90%; max-height: 90%;">
</div>

<!-- Скрипт -->
<script>
    document.querySelectorAll('.chart-image').forEach(img => {
        img.addEventListener('click', function () {
            const modal = document.getElementById("imageModal");
            const modalImg = document.getElementById("modalImage");
            modalImg.src = this.src;
            modal.style.display = "flex";
        });
    });

    function hideImageModal(event) {
        const modal = document.getElementById("imageModal");
        if (!event || event.target.classList.contains('modal') || event.target.classList.contains('close')) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}
