{% extends 'base.html' %}

{% block title %}Профиль {{user.username}}{% endblock %}

{% block content %}
<h1 class="welcome-title" style="position: relative;">
    Профиль {{user.username}}
    <a href="{% url 'profile_edit' %}" class="edit-icon" title="Редактировать">
        ✏️
    </a>
</h1>
<hr style="margin-bottom: 20px;">

<form method="post" enctype="multipart/form-data" id="avatar-form">
    {% csrf_token %}
    <div class="avatar-wrapper" onclick="document.getElementById('avatar-input').click();">
        {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar-image">
        {% else %}
        <img src="/media/avatar/default/no_photo.png" alt="Нет фото" class="avatar-image">
        {% endif %}
        <span class="avatar-edit-icon">✏️</span>
    </div>
    <input type="file" name="avatar" id="avatar-input" accept="image/*" style="display: none;" onchange="document.getElementById('avatar-form').submit();">
</form>
<br>
<div class="profile-details">
    <p><strong>Имя:</strong> {{ user.first_name|default:"Нет информации" }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name|default:"Нет информации" }}</p>
    <p><strong>Email:</strong> {{ user.email|default:"Нет информации" }}</p>
    <p><strong>Телефон:</strong>
        {% if user.phone %}{{ user.phone }}{% else %}Нет информации{% endif %}
        {% if user.phone_country %} ({{ user.phone_country }}){% endif %}
    </p>
    <p><strong>Дата рождения:</strong>
        {% if user.birthday %}
        {{ user.birthday|date:"d.m.Y" }}
        {% else %}
        Нет информации
        {% endif %}
    </p>
    <p><strong>Возраст:</strong>
        {% if user.birthday %}
        {{ user.get_age_display }}
        {% else %}
        Нет информации
        {% endif %}
    </p>
    <p style="text-align: center;"><strong>Биография</strong></p>
    <div>
    <span id="bio-short">
        {{ user.bio|default_if_none:"Нет информации"|truncatechars:100|linebreaks }}
        {% if user.bio and user.bio|length > 100 %}
            <a href="#" class="bio-toggle" onclick="toggleBio(event)">Показать</a>
        {% endif %}
    </span>
        {% if user.bio and user.bio|length > 100 %}
        <span id="bio-full" style="display: none;">
        {{ user.bio|linebreaks }}
        <a href="#" class="bio-toggle" onclick="toggleBio(event)">Скрыть</a>
    </span>
        {% endif %}
    </div>

</div>


<script>
    function toggleBio(event) {
        event.preventDefault();
        const shortText = document.getElementById('bio-short');
        const fullText = document.getElementById('bio-full');
        if (shortText.style.display === 'none') {
            shortText.style.display = 'inline';
            fullText.style.display = 'none';
        } else {
            shortText.style.display = 'none';
            fullText.style.display = 'inline';
        }
    }
</script>
{% endblock %}
