# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Для миграций, которые не нужны (если нужно!)
face_lens/migrations/*.pyc
face_lens/migrations/__pycache__/

# Опционально: исключить миграции (если миграции не нужны в репо, кроме __init__.py)
# face_lens/migrations/[!__init__]*.py

# Игнорировать миграции в app "face_lens"
face_lens/migrations/*.py
!face_lens/migrations/__init__.py
