{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}FaceLens{% endblock %}</title>

    <!-- Стили -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Иконка -->
    <link rel="icon" type="image/png" href="/media/facelens/icon-face.png">
</head>

<body>

<!-- Навигационная панель -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo"><a href="{% url 'home' %}">FaceLens</a></div>
        <ul class="nav-links">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}" class="nav-button">Профиль</a></li>
            <li><a href="{% url 'logout' %}" class="nav-button">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="nav-button">Войти</a></li>
            <li><a href="{% url 'register' %}" class="nav-button">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Основной контент -->
<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Футер -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-copy">
            <span class="footer-logo">FaceLens</span> &copy; 2025 Фотоанализ лица. Все права защищены.
        </div>
    </div>
</footer>

</body>
</html>
