{% extends 'base.html' %}

{% block title %}Камера{% endblock %}

{% block content %}
<h1 class="welcome-title">Камера</h1>
<hr style="margin-bottom: 20px;">

<div style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
    <video id="video" width="500" autoplay style="border-radius: 10px;"></video>
</div>

<canvas id="canvas" style="display:none;"></canvas>

<div style="text-align: center; margin-top: 20px;">
    <button id="captureBtn" class="button">📷 Сделать фото</button>
</div>

<p id="status" style="margin-top: 10px;"></p>

<script>
  const userId = "{{ request.user.id }}";
  const socket = new WebSocket(`ws://${window.location.host}/ws/auto_photo/${userId}/`);

  socket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    if (data.type === 'take_photo') {
      console.log("Получен сигнал — делаем фото!");
      takePhoto();
    }
  };

  function takePhoto() {
    const video = document.getElementById('video');
    const canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);

    const imageData = canvas.toDataURL('image/jpeg');
    fetch("{% url 'camera_save' %}", {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: new URLSearchParams({
        'image_data': imageData
      })
    }).then(response => {
      if (response.redirected) {
        window.location.href = response.url;
      }
    });
  }
</script>


{% endblock %}
