{% extends 'base.html' %}

{% block title %}Главная — FaceLens{% endblock %}

{% block content %}
<header>
    <h1>Фотоанализ лица</h1>
    {% if user.is_authenticated %}
    <p>Добро пожаловать {{user}} в приложение для фотоанализа лица.</p>
    {% endif %}
    <p>
        Это удобное и инновационное решение, позволяющее быстро и точно определить возраст человека, оценить состояние кожи и выявить эмоциональное состояние на основе фотографий.
    </p>
    <br>
    <ul class="features">
        <li>Анализ фотографии</li>
        <li>Анализ состояния лица</li>
        <li>Настройка автоматических снимков</li>
    </ul>
</header>
{% endblock %}